*{
    font-family: 'Poppings', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #8758ff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.App{
    text-align: center;
}
.ToDoWrapper{
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}
.Todo-input{
    outline: none;
    background: none;
    border-radius: 2px;
    border: 1px solid #8758ff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom:  2rem;
    width: 300px;
    color: #fff;
}
.Todo-input::placeholder{
    color: #ffffff4d;
}

.Todo-btn{
    background-color: #8758ff;
    color: #fff;
    padding: 0.55rem;
    border: none;
    cursor: pointer;
}
.Todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 7px;
}

.fa-trash{
    margin-left: 0.75rem;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 1.75rem;
}
.completed{
    color: #c5aeff;
    text-decoration: line-through;
    cursor: pointer;
}
.incompleted{
    color: #fff;
    cursor: pointer;
}